<section id="main" class=" panel ltgrey">
  <div class="wrapper">
    <ul class="comic list-cards">
      <li class="card card--big" *ngFor="let comics of listComics.data.results; let i=index">
        <div class="card__image" style="background-image: url({{comics.thumbnail.path}}.{{comics.thumbnail.extension}});"></div>
        <h2 class="card__title">{{comics.title}}</h2>
        <div class="card__action-bar panel yellow">
          <button (click)="gestionarLike($event,true)" class="card__button">Like</button>
          <h1>0</h1>
          <button (click)="gestionarLike($event,false)" class="card__button">Dislike</button>
          <h1>0</h1>
        </div>
      </li>
    </ul>
  </div>
</section>